﻿<style>
    .descriptionInput {
        width: 250px;
    }

    .centeredColumn {
        text-align: center;
    }
</style>

<div class="jumbotron">
    <h1>My ToDo List</h1>
    <p class="lead">This is a simple ToDo List web application. It uses .NET MVC, Web API, StructureMap, jQuery, HTML, and persists using a local SQL Server MDF database.</p>
</div>

<div class="row">
    <h4>My ToDo List</h4>
    <div>
        <table id="todoTable" cellpadding="3">
            <tr class="listHeader">
                <th>Description</th>
                <th class="centeredColumn">Completed</th>
                <th class="centeredColumn">Actions</th>
            </tr>
            <tr class="todoNew">
                <td>
                    <input type="text" class="form-control descriptionInput" id="txtDescription" placeholder="Description" />
                </td>
                <td class="centeredColumn">
                    <input type="checkbox" class="form-control" id="chkIsComplete" />
                </td>
                <td class="centeredColumn">
                    <button id="btnSave" class="btn" disabled="disabled">Add New</button>
                </td>
            </tr>
        </table>
    </div>
    <br />
    
</div>

<script>
    $(document).ready(function () {
        var todos = getAll();
        fillList(todos);

        $("#txtDescription").keypress(function () {
            if ($("#txtDescription").val().length > 0)
            {
                $("#btnSave").removeAttr("disabled");
            }
            else
            {
                $("#btnSave").attr("disabled", "disabled");
            }
        });

        $("input[id^=txtDescription_").keypress(function () {
            var idstr = $(this).attr("id");
            var pos = idstr.indexOf("_");
            var id = idstr.substr(pos + 1) * 1;

            if ($("#txtDescription_" + id).val().length > 0)
            {
                $("#btnSave_" + id).removeAttr("disabled");
            }
            else
            {
                $("#btnSave_" + id).attr("disabled", "disabled");
            }
        });

        $("input[id^=chkIsComplete_").click(function () {
            var idstr = $(this).attr("id");
            var pos = idstr.indexOf("_");
            var id = idstr.substr(pos + 1) * 1;

            $("#btnSave_" + id).removeAttr("disabled");
        });

        $("#btnSave").click(function () {
            if (!confirm("Are you sure you want to save this new item?"))
                return;

            saveOne();

            todos = getAll();
            fillList(todos);
        });

        $("button[id^=btnSave_]").click(function () {
            if (!confirm("Are you sure you want to update this item?"))
                return;

            var idstr = $(this).attr("id");
            var pos = idstr.indexOf("_");
            var id = idstr.substr(pos + 1) * 1;

            try {
                updateOne(id);
                $("#btnSave_" + id).attr("disabled", "disabled");
            }
            catch (ex) {
                alert("Oops! Something went wrong. The item was not likely updated. Copy your changes, then refresh to see the most current list.")
            }
        });

        $("button[id^=btnDelete_]").click(function () {
            if (!confirm("Are you sure you want to delete this item?"))
                return;

            var idstr = $(this).attr("id");
            var pos = idstr.indexOf("_");
            var id = idstr.substr(pos + 1) * 1;

            try
            {
                deleteOne(id)
                $(this).parents(".todoItem").remove();
            }
            catch(ex)
            {
                alert("Oops! Something went wrong. The item was not likely deleted. Refresh to see the most current list.")
            }
        });
    });

    function fillList(todos)
    {
        var template = '<tr class="todoItem" data-id="IDX">' +
            '<td><input type="text" id="txtDescription_IDX" class="form-control descriptionInput" value="DESCRIPTIONX" /></td>' +
            '<td class="centeredColumn"><input type="checkbox" class="form-control" id="chkIsComplete_IDX" ISCOMPLETEX/></td>' +
            '<td class="centeredColumn"><button id="btnSave_IDX" class="btn" disabled="disabled">Update</button> <button id="btnDelete_IDX" class="btn">Delete</button></td>' +
            '</tr>';

        $(".todoItem").remove();
        for (var i = 0; i < todos.length; i++) {
            var todo = todos[i];
            var str = template;
            str = str.replace(/IDX/g, todo.Id);
            str = str.replace(/DESCRIPTIONX/g, todo.Description);
            str = str.replace(/ISCOMPLETEX/g, todo.IsComplete ? 'checked="checked"' : '');
            $(str).insertBefore(".todoNew");
            $("#txtDescription").val("");
            $("#btnSave").attr("disabled", "disabled");
            $("#chkIsComplete").removeAttr("checked");
        }
    }
</script>